*{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #1a1a1a;
    box-shadow: 10px 20px 15px silver;
}

.scaleheader{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logoheader{
    height: 100%;
    display: table;
    float: left;
}

.logoheader h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}

.hlogo{  
  position: realative;
  right: 0;  
  left: 351px;
  width: 91px;
  height: auto;
}

.navigation{
    float: right; 
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child{
    padding-right: 0; 
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Montserrat';
    font-size: 16px;
}

.active {
    background-color: #4CAF50; /* Green */
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
  }


